<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string>Root</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Connection Settings</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Always use Bluetooth</string>
			<key>Key</key>
			<string>force_bluetooth_setting</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Whisperer Settings</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Tap on Whisper to</string>
			<key>Key</key>
			<string>whisper_tap_preference</string>
			<key>DefaultValue</key>
			<string>show</string>
			<key>Titles</key>
			<array>
				<string>show conversations</string>
				<string>start default conversation</string>
				<string>start last-used conversation</string>
			</array>
			<key>Values</key>
			<array>
				<string>show</string>
				<string>default</string>
				<string>last</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Auto-transcribe Whisper text?</string>
			<key>Key</key>
			<string>do_server_side_transcription_preference</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Interjection Prefix</string>
			<key>Key</key>
			<string>interjection_prefix_preference</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Interjection Alert</string>
			<key>Key</key>
			<string>interjection_alert_preference</string>
			<key>DefaultValue</key>
			<string></string>
			<key>Values</key>
			<array>
				<string></string>
				<string>bike-bell</string>
				<string>bike-horn</string>
				<string>air-horn</string>
			</array>
			<key>Titles</key>
			<array>
				<string>None</string>
				<string>Bicycle Bell</string>
				<string>Bicycle Horn</string>
				<string>Air Horn</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>History Buttons</string>
			<key>Key</key>
			<string>history_buttons_preference</string>
			<key>DefaultValue</key>
			<string>r-i-f</string>
			<key>Titles</key>
			<array>
				<string>Repeat, Interject, Favorite</string>
				<string>Repeat, Interject</string>
				<string>Interject, Favorite</string>
				<string>Repeat, Favorite</string>
				<string>Repeat</string>
				<string>Interject</string>
				<string>Favorite</string>
			</array>
			<key>Values</key>
			<array>
				<string>r-i-f</string>
				<string>r-i</string>
				<string>i-f</string>
				<string>r-f</string>
				<string>r</string>
				<string>i</string>
				<string>f</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Status Button in top bar</string>
			<key>Key</key>
			<string>status_buttons_top_preference</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Listener Settings</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Tap on Listen to</string>
			<key>Key</key>
			<string>listen_tap_preference</string>
			<key>DefaultValue</key>
			<string>show</string>
			<key>Titles</key>
			<array>
				<string>show conversations</string>
				<string>listen to last-used conversation</string>
			</array>
			<key>Values</key>
			<array>
				<string>show</string>
				<string>last</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Listener sees newest whisper in</string>
			<key>Key</key>
			<string>newest_whisper_location_preference</string>
			<key>DefaultValue</key>
			<string>bottom</string>
			<key>Values</key>
			<array>
				<string>top</string>
				<string>bottom</string>
			</array>
			<key>Titles</key>
			<array>
				<string>Top window</string>
				<string>Bottom window</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>ElevenLabs Speech Generation</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>API Key</string>
			<key>Key</key>
			<string>elevenlabs_api_key_preference</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Voice ID</string>
			<key>Key</key>
			<string>elevenlabs_voice_id_preference</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Pronunciation Dictionary ID</string>
			<key>Key</key>
			<string>elevenlabs_dictionary_id_preference</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Pronunciation Dictionary Version</string>
			<key>Key</key>
			<string>elevenlabs_dictionary_version_preference</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Latency Reduction</string>
			<key>Key</key>
			<string>elevenlabs_latency_reduction_preference</string>
			<key>DefaultValue</key>
			<integer>0</integer>
			<key>Titles</key>
			<array>
				<string>None</string>
				<string>Normal</string>
				<string>Enhanced</string>
				<string>Max</string>
			</array>
			<key>Values</key>
			<array>
				<integer>-1</integer>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
			</array>
		</dict>
	</array>
</dict>
</plist>
